body{
    max-width: 500px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FAEACB;
}
h1, p {
    text-align: center;
}

a {
    color: black;
}

ul {
    text-align: center;
    list-style-position: inside;
}